<div class="actions-container">
  <a routerLink="/items/new" class="add-button">
    + Додати нову технологію
  </a>
</div>
<div class="search-container">
  <input
    type="text"
    class="search-input"
    placeholder="Пошук технології за назвою..."
    [(ngModel)]="searchText"
    (ngModelChange)="onSearchChange()">
</div>

<hr>

<div class="list-container">
  <app-item-card
    appHighlight *ngFor="let tech of technologies$ | async"
    [technology]="tech"
    [routerLink]="['/items', tech.id]">
  </app-item-card>
</div>

