<div class="card">
  <div class="card-header">
    <h3>{{ technology.name }}</h3>
    <span *ngIf="technology.category === 'AI'" class="new-badge">
    New!
  </span>
    <span class ="card-category"
          [ngClass]="{
        'category-ai': technology.category === 'AI',
        'category-hw': technology.category === 'Hardware',
        'category-bio': technology.category === 'Biotech'
      }">
  {{ technology.category }}
</span>
  </div>
  <div class="card-body">
    <p>{{ technology.description | shorten:60 }}</p>
    <div class="card-footer">
      <a [routerLink]="['/items', technology.id]" class="details-button">
        Детальніше
      </a>
    </div>
  </div>
</div>
